@import "setting/variable";
@import "setting/mixins";
@import "setting/reset";
@import "setting/base";

@import "main";
@import "header";

.hero{
  display: flex;
  flex-direction: column;
  @include hero;

  @include MQ(L){
    height: auto;
  }

  @include MQ(XL){
    @include hero;
  }
}

.hero-items{
  display: flex;
  flex-direction: column;
  flex: 1;

  @include MQ(XL){
    flex-direction: row;
  }
}

.hero-item{
  width: 100%;
  flex: 1;

  &.hero-item--left{
    display: flex;
    flex-direction: column;
  }

  &.hero-item--right{
    display: flex;
    flex-direction: column;
  }

  @include MQ(M){
    &.hero-item--right{
      height: 512px;
    }
  }

  @include MQ(XL){
    width: 50%;

    &.hero-item--right{
      height: auto;
    }
  }
}

.hero-item-right__top{
  flex: 1;
  height: 284px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-item-right__bottom{
  display: none;

  @include MQ(XL){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  }
}

.hero-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-nav__number{
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.hero-nav-progress{
  position: relative;
  display: flex;
  align-items: center;
  width: calc(80px * 4);
  height: 2px;
}

.hero-nav-progress__state{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 80px;
  height: 2px;
}

.hero__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 50px 30px 30px;

  @include MQ(M){
    padding: 0 80px;
  }

  @include MQ(L){
    padding: 100px 80px;
  }

  @include MQ(XL){
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.hero__box-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  @include MQ(XL){
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }
}

.hero__content{
  padding-right: 10px;

  @include MQ(XL){
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.hero__title{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;

  @include MQ(M){
    font-size: 72px;
  }

  @include MQ(XL){
    font-size: 90px;
  }
}

.hero__description{
  font-family: "Source Sans Pro";
  max-width: 360px;

  @include MQ(M){
    font-size: 22px;
    line-height: 33px;
  }
}

.hero-action-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 55px;

  @include MQ(M){
    width: 78px;
    height: 102px;
  }

  @include MQ(XL){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    padding: 0 100px;
  }
}

.hero-action-box__text{
  display: none;
  font-family: "Poppins";
  color: #FFF;

  @include MQ(XL){
    display: block;
    font-size: 18px;
  }
}

.hero-action-box__btn{
  @include resetBtn;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 57px;

  @include MQ(M){
    width: 78px;
    height: 103px;
  }

  @include MQ(XL){
    width: 60px;
    height: 60px;
  }
}

.hero.hero--light{
  background-color: $color_white;

  .hero__title,
  .hero__description{
    color: $color_primary;
  }

  .hero-action-box{
    background: #ffab9d;
  }

  .hero-nav__number{
    color: $color_primary;
  }

  .hero-nav-progress{
    background: #dddee0;
  }

  .hero-nav-progress__state{
    background: $color_primary;
  }
}

.hero.hero--dark{
  background-color: $color_dark;

  .hero__title,
  .hero__description{
    color: $color_white;
  }

  .hero-action-box{
    background: $color_purple;
  }

  .hero-nav__number{
    color: $color_white;
  }

  .hero-nav-progress{
    background: #fcffff;
  }

  .hero-nav-progress__state{
    background: #6f7fbd;
  }
}