@import "setting/variable";
@import "setting/mixins";
@import "setting/reset";
@import "setting/base";

@import "main";
@import "header";

.hero{
  display: flex;
  flex-direction: column;
  @include hero;
  background: $color_dark;

  @include MQ(L){
    height: auto;
  }

  @include MQ(XL){
    height: 100vh;
  }
}

.hero-items{
  display: flex;
  flex-direction: column;
  flex: 1;

  @include MQ(XL){
    flex-direction: row;
  }
}

.hero-item{
  width: 100%;

  &.hero-item--left{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &.hero-item--right{
    height: 284px;
    background-image: url("../img/02_head_dark.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include MQ(M){
    &.hero-item--right{
      height: 512px;
    }
  }

  @include MQ(XL){
    width: 50%;

    &.hero-item--right{
      height: auto;
    }
  }
}

.hero__box{
  display: flex;
  align-items: flex-end;
  padding: 50px 30px 0;

  @include MQ(M){
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
  }

  @include MQ(L){
    padding: 100px 80px;
  }

  @include MQ(XL){
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.hero__content{
  padding-right: 10px;

  @include MQ(XL){
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.hero__title{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: $color_white;
  margin-bottom: 30px;

  @include MQ(M){
    font-size: 72px;
  }

  @include MQ(XL){
    font-size: 90px;
    margin-bottom: 50px;
  }
}

.hero__description{
  font-family: "Source Sans Pro";
  color: $color_white;

  @include MQ(M){
    font-size: 22px;
    line-height: 33px;
  }
}

.hero-action-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 55px;
  background: $color_purple;

  @include MQ(M){
    width: 78px;
    height: 102px;
  }

  @include MQ(XL){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    padding: 0 100px;
  }
}

.hero-action__btn{
  display: none;
  box-shadow: none;
  border: none;
  background: none;
  font-family: "Poppins";
  color: #FFF;

  @include MQ(XL){
    display: block;
    font-size: 18px;
  }
}

.hero-square{
  width: 26px;
  height: 26px;
  background: #FFF;
  margin: 0 4px;

  @include MQ(M){
    width: 62px;
    height: 62px;
    margin: 0 8px;
  }

  @include MQ(XL){
    width: 60px;
    height: 60px;
  }
}