@import "setting/variable";
@import "setting/mixins";
@import "setting/reset";
@import "setting/base";

@import "main";
@import "header";

.hero{
  display: flex;
  flex-direction: column;
  background: $color_dark;

  @include MQ(XL){
    flex-direction: row;
    min-height: 720px;
    height: 100vh;
  }
}

.hero-main{
  display: flex;
  flex-direction: column;
  width: 100%;

  @include MQ(XL){
    width: 70%;
  }
}

.hero-media{
  display: flex;
  flex-direction: column;
  width: 100%;

  @include MQ(M){
    flex-direction: row;
  }

  @include MQ(XL){
    flex-direction: column;
    width: 30%;
  }
}

.hero-media-item{
  height: 284px;

  &.hero-media-item--one{
    position: relative;
    background-image: url("../img/03_head_dark_2.png");
    background-size: cover;
  }

  &.hero-media-item--two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Poppins';
    color: #FFF;
    background: #ffab9d;
  }

  @include MQ(M){
    width: 50%;
    height: 408px;

    &.hero-media-item--two{
      padding: 60px;
    }
  }

  @include MQ(XL){
    width: 100%;
    height: 50%;
  }
}

.hero-media-item__title{
  font-size: 18px;
}

.hero-media-item__content{
  font-size: 28px;

  @include MQ(M){
    font-size: 38px;
  }
}

.hero-media-item__btn{
  position: absolute;
  @include center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
  padding-left: 5px;
  color: #ffab9d;
  background: rgba(#FFF, .8);

  @include MQ(M){
    width: 78px;
    height: 78px;
  }
}

.hero-box{
  display: flex;
  flex: 1;
}

.hero-box-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 90px 32px;

  @include MQ(M){
    width: 50%;
    padding: 0 80px;
  }

  @include MQ(XL){
    width: 57%;
    padding: 0 0 0 100px;
  }
}

.hero-box-picturebox{
  display: none;
  width: 100%;
  background-image: url("../img/03_head_dark_1.png");
  background-size: cover;

  @include MQ(M){
    display: block;
    width: 50%;
    height: 500px;
  }

  @include MQ(L){
    height: 550px;
  }

  @include MQ(XL){
    position: relative;
    z-index: 1;

    width: 43%;
    height: 100%;
  }
}

.hero-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hero__title{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: $color_white;

  @include MQ(M){
    font-size: 72px;
  }

  @include MQ(XL){
    font-size: 90px;
    margin-bottom: 50px;
  }
}

.hero_squares{
  display: none;

  @include MQ(XL){
    display: block;
  }
}

.hero_square__item{
  width: 60px;
  height: 60px;
  background: $color_white;

  &:first-child{
    margin-bottom: 60px;
  }
}