// header
.header{
  position: relative;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header_height;
  background: transparent;
  padding: 0 30px;


  &.header--mobile .header-menu{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  &.header--mobile .header__trigger{
    span,
    span:before,
    span:after{
      width: 22px;
      height: 2px;
      border-radius: 0;
    }

    span:before{
      left: 0;
      transform: rotate(45deg);
    }

    span:after{
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &.header--no-padding{
    padding: 0;
  }

  @include MQ(M){
    height: $header_height_m;
    padding: 0 80px;
  }

  @include MQ(XL){
    height: $header_height_l;
    padding: 0 100px;
  }
}

.header.header--dark{
  .header__trigger{
    span,
    span:before,
    span:after{
      background: $color_primary;
    }

    &:hover{
      span,
      span:before,
      span:after {
        background: lighten($color_primary, 15%);
      }
    }
  }

  .header__brand,
  .header-menu-link{
    color: $color_primary;
  }

  .header-menu-link.is-active{
    color: darken($color_primary, 10%);
  }

  .header-menu{
    background: $color_primary;

    @include MQ(M){
      background: none;
    }
  }
}

.header.header--dark.header--mobile{
  .header__trigger{
    span:before,
    span:after{
      background: $color_white;
    }

    span{
      background: transparent;
    }
  }

  .header__brand,
  .header-menu-link{
    color: $color_white;
  }
}

.header.header--white{
  .header__trigger{
    span,
    span:before,
    span:after{
      background: $color_white;
    }
  }

  .header__brand,
  .header-menu-link{
    color: $color_white;
  }

  .header-menu-link.is-active{
    color: darken($color_white, 10%);
  }

  .header-menu{
    background: $color_white;

    @include MQ(M){
      background: none;
    }
  }
}

.header.header--white.header--mobile{
  .header__trigger{
    span:before,
    span:after{
      background: $color_dark;
    }

    span{
      background: transparent;
    }
  }

  &.header--mobile .header__brand,
  &.header--mobile .header-menu-link{
    color: $color_dark;
  }
}

.header__brand{
  z-index: 1003;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform .25s;
}

.header-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 1002;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-left: 30px;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform .25s, opacity .25s, visibility .25s;


  @include MQ(M){
    flex-direction: row;
    align-items: center;
    position: static;
    width: auto;
    background: none;
    transform: translateX(0);
    transition: tranform .0s;
    opacity: 1;
    visibility: visible;
  }
}

.header__trigger{
  position: relative;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transform: translateX(0);
  transition: transform .25s;

  span,
  span:before,
  span:after {
    content: "";
    position: relative;
    display: inline-block;
    width: $header_trigger_dot_size;
    height: $header_trigger_dot_size;
    border-radius: 50%;
    transition: width .25s, transform .4s;
  }

  span:before{
    position: absolute;
    left: -8px;
  }

  span:after{
    position: absolute;
    right: -8px;
  }

  @include MQ(M){
    position: absolute;
    @include center(y);
    display: none;
    opacity: 0;
    visibility: visible;
  }
}

.header-menu-link{
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro";
  font-size: 28px;
  height: 55px;

  @include MQ(M){
    display: inline-block;
    height: auto;
    font-size: 16px;
    padding: 0 10px;
  }
}