// color
$color_yellow: #f7cb1c;
$color_red: #ef004a;
$color_black: #010100;
$color_gray: #4f4f4f;

$color_primary: #242635;
$color_white: #FFF;
$color_dark: #000;
$color_hero_square_bg: #ff6382;
$color_purple: #8f84da;

// hero
$hero_min_height: 500px;

// header
$header_trigger_dot_size: 6px;
$header_height: 80px;
$header_height_m: 100px;
$header_height_l: 160px;

// head 3
$hero_media_item_btn: 76px;
$hero_media_item_btn_after: $hero_media_item_btn + 16px;