.hero{
  display: flex;
  flex-direction: column;

  @include MQ(XL){
    flex-direction: row;
    min-height: 720px;
    height: 100vh;
  }
}

.hero-main{
  display: flex;
  flex-direction: column;
  width: 100%;

  @include MQ(XL){
    width: 70%;
  }
}

.hero-media{
  display: flex;
  flex-direction: column;
  width: 100%;

  @include MQ(M){
    flex-direction: row;
  }

  @include MQ(XL){
    flex-direction: column;
    width: 30%;
  }
}

.hero-media-item{
  height: 284px;

  &.hero-media-item--one{
    position: relative;
    background-image: url("../img/03_head_light_2.png");
    background-size: cover;
  }

  &.hero-media-item--two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Poppins';
    color: #FFF;
    background: #9085da;
  }

  @include MQ(M){
    width: 50%;
    height: 408px;

    &.hero-media-item--two{
      padding: 60px;
    }
  }

  @include MQ(XL){
    width: 100%;
    height: 50%;
  }
}

.hero-media-item__title{
  font-size: 18px;
}

.hero-media-item__content{
  font-size: 28px;

  @include MQ(M){
    font-size: 38px;
  }
}

.hero-media-item__btn{
  position: absolute;
  @include center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
  padding-left: 5px;
  color: #9085da;
  background: rgba(#FFF, .8);

  @include MQ(M){
    width: 78px;
    height: 78px;
  }
}

.hero-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-box-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 90px 32px;

  @include MQ(M){
    width: 50%;
    padding: 0 80px;
  }

  @include MQ(XL){
    width: 60%;
    padding: 0 0 0 140px;
  }
}
