.hero{
  display: flex;
  flex-direction: column;
  min-height: $hero_min_height;
  height: 100vh;

  @include MQ(L){
    flex-direction: row;
  }
}

.hero-main{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-image: url("../img/06_head_light.png");
  background-size: cover;

  @include MQ(L){
    width: 68%;
  }
}

.hero-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 32px;
  height: 320px;

  @include MQ(M){
    padding: 0 80px;
    height: 636px;
  }

  @include MQ(L){
    padding: 0 100px;
  }
}

.hero-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hero__title{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: $color_primary;
  margin-bottom: 30px;

  @include MQ(M){
    font-size: 72px;
  }

  @include MQ(XL){
    font-size: 90px;
    margin-bottom: 50px;
  }
}

.hero-media{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #FFF;
  padding: 24px 32px 34px;
  background: #000000;

  @include MQ(M){
    padding: 45px 60px 45px;
  }

  @include MQ(L){
    padding: 0 60px 45px;
  }

  @include MQ(L){
    flex-direction: column;
    width: 32%;
  }
}

.hero-media__header{
  @include MQ(L){
    display: flex;
    align-items: center;
    height: $header_height_l;
  }
}

.hero-media__footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-media__title{
  font-family: "Poppins";
  margin-bottom: 20px;

  @include MQ(M){
    font-size: 18px;
    margin-bottom: 50px;
  }

  @include MQ(L){
    margin-bottom: 0;
  }
}

.hero-media__content{
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 4px;
  width: calc(100% - 100px);

  @include MQ(M){
    font-size: 38px;
    padding-bottom: 10px;
  }
}


.hero-square-item{
  width: 34px;
  height: 34px;

  &.hero-square-item--black{
    display: none;
    background: #242635;
    margin-bottom: 60px;

    @include MQ(L){
      display: block;
    }
  }

  &.hero-square-item--white{
    background: #fafafc;
  }

  @include MQ(M){
    width: 60px;
    height: 60px;
  }
}